@inherits LayoutComponentBase
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (login == true)
            {
                <p>@name (@adminLevel)
                <a href="adminLoginPage">Log ud</a>
                </p>

            } else
            {
                <a href="adminLoginPage">Admin Login</a>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string adminLevel;
    private string name;
    private bool login;

    //It checks if the user is logged in, and if they are, it will show their name and admin level
    protected override async Task OnInitializedAsync()
    {
        //It gets the value of the user being logged in, and the admin level and name of the user
        login = await localStorage.GetItemAsync<bool>("isLoggedIn");
        adminLevel = await localStorage.GetItemAsStringAsync("adminLevel");
        name = await localStorage.GetItemAsStringAsync("user");


    }




}
