@page "/"
@using Core.Models

<PageTitle>Index</PageTitle>
<h1> Velkommen til Cirkus Summarum Tilmeldingsside </h1>
    Hos Cirkus Summarum har vi skabt en mulighed for, at alle kan blive en del af vores fantastiske team af frivillige – også dig, der er under 18 år!
    Vi værdsætter de unges engagement og giver dig derfor chancen for at tilmelde dig som frivillig med en forælder eller værges samtykke.


<img src="https://scontent.fcph5-1.fna.fbcdn.net/v/t39.30808-6/332900483_1019020656148199_5746854597903370102_n.png?stp=dst-jpg_s960x960&_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_ohc=U1cbO_HqiKUQ7kNvgE0MYOO&_nc_ht=scontent.fcph5-1.fna&oh=00_AYDpG9dUHjQS_5QMgWkvaOi4nRG9LAEBgdtynyzp72OIhg&oe=665A1382" class="background-image d-none d-md-block" />

<div style="color ">
    <p>
        <h2>Første Skridt - Tilmelding hos Kræwet </h2>
        Inden du kan tilmelde dig 'Børneklubben', skal du først være registreret på Kræwets hjemmeside.
        Besøg <a href="https://www.kræwet.dk/ny/"> Kræwet Tilmelding </a>for at starte din tilmelding der. Når du er registreret, kan du vende tilbage hertil og fuldføre din tilmelding til Cirkus Summarum.

    </p>

    <p>
        <h2>Tilmelding til Børnklubben</h2>
        For dig, der allerede er frivillig og har børn, tilbyder vi en fantastisk mulighed med vores Børnklub.
        Som frivillig kan du få op til to børn passet i Børnklubben på de dage, hvor du arbejder hos os.
        Dette gør det nemmere for dig at bidrage som frivillig, mens dine børn er i trygge og sjove omgivelser.
    </p>

    <p>
        <h2>Bliv Frivillig - For Dig Under 18</h2>
        Er du under 18 og har lyst til at være frivillig hos Cirkus Summarum?
        Intet problem! Du kan nemt tilmelde dig, så længe du har en forælder eller værges underskrift.
        Vores frivillige er hjertet af cirkusset, og vi glæder os til at byde dig velkommen i vores team.

    </p>

    Vi ser frem til at have dig med som en del af vores eventyr og skabe uforglemmelige oplevelser sammen!
</div>