@page "/youngApplication"


@inject NavigationManager navManager
@inject IJSRuntime js
@inject IServiceClass service

@using Services
@using Core.Models
@using Blazorise.SignaturePad
@using Blazorise
@using Blazorise.Bootstrap

<h1 class="mb-3 mt-3">Ansøg som ung frivillig</h1>

@if (isSubmitted)
{
    <p>Application submitted successfully!</p>
}
else
{
    //YEAH
<EditForm Model="@application" OnValidSubmit="SubmitForm">
    <DataAnnotationsValidator />
    <Microsoft.AspNetCore.Components.Forms.ValidationSummary />


    <div class="form-group">
        <label for="AParentName">Forældre navn</label>
        <input type="text" class="form-control" @bind="application.AParentName" id="AParentName" placeholder="f.eks. Gunnar eller Inge">
    </div>
    <div class="form-group">
        <label for="APhoneNr">Telefonnr på forældre</label>
        <input type="text" class="form-control" @bind="application.AParentPhoneNr" id="APhoneNr" placeholder="+4512345678">
    </div>
    <div class="form-group">
        <label for="AParentMail">Forældre email</label>
        <input type="email" class="form-control" @bind="application.AParentMail" id="AParentMail" placeholder="f.eks. ane@gmail.com">
    </div>
    <div class="form-group">
        <label for="AName">Navn</label>
        <input type="text" class="form-control" @bind="application.AName" id="AName" placeholder="f.eks. Alex eller Marie">
    </div>
    <div class="form-group">
        <label for="AMail">Email</label>
        <input type="email" class="form-control" @bind="application.AMail" id="AMail" placeholder="f.eks. Alex@gmail.com">
    </div>
    <div class="form-group">
        <label for="KræwNr">Kræw Nummer</label>
        <input type="text" class="form-control" @bind="application.KræwNr" id="KræwNr" placeholder="Find KræwNr. på kræwet.dk ved at loggeind">
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" @bind="application.Declaration" id="Declaration">
        <label class="form-check-label" for="Declaration">Samtykke </label>
        <p>Ved at trykke "Samtykke" bekræfter jeg, at mit barn må være frivillig.</p>
    </div>

    <div class="form-group">
        <label for="ImageUpload">Upload billede af underskrift</label>
        <InputFile OnChange="HandleSelectedImage" id="ImageUpload" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>
}




@code
{

    [Inject]
    private IServiceClass mservice { get; set; }
    private Core.Models.YoungApplication application = new Core.Models.YoungApplication();
    private bool isSubmitted = false;


    private async Task HandleSelectedImage(InputFileChangeEventArgs e)
    {
        var file = e.File;
        if (file != null)
        {
            using (var stream = new MemoryStream())
            {
                await file.OpenReadStream().CopyToAsync(stream);
                application.ImageData = stream.ToArray();
            }
        }
    }




    private async Task SubmitForm()
    {

        //We send it to the database
        await mservice.AddYoungApplication(application);
        isSubmitted = true;
        Console.WriteLine("Form submitted successfully.");



    }

}